.body {
  display: flex;
  margin-top: 25px;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 700px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin-right: 20px;
  margin-left: 20px;
  flex-shrink: 0;
}

.portrait {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portrait-container {
  margin-top: 20px;
  height: 300px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.bio-name {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}

.personal-statement {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 41px;
}

.hobbies {
  align-self: flex-start;
  background-color: rgb(131, 201, 225);
  width: 100%;
  height: 237px;
}

.hobbies-title {
  margin-left: 20px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.hobby {
  color: rgb(255, 255, 255);
  margin-left: 27px;
  margin-top: 10px;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}


.right-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  margin-right: 20px;
  padding: 10px 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.right-section-title {
  font-size: 20px;
  font-weight: bold;
}

.education-school {
  display: flex;
  font-size: 25px;
}

.image-container {
  width: 50px;
  height: 30px;
  margin-left: 12px;
}

.gator-image {
  width: 100%;
}

.projects-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 100%;
}

.project-preview-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.project-preview {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 240px;
}

.project-preview-image {
  height: 80%;
  position: relative;
}

.folder-icon {
  width: 100%;
}

.folder-icon-text {
  position: absolute;
  top: 50%;
  left: 25%;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
}

.project-preview-bottom {
  height: 20%;
}

.project-preview-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 2px 2px;
  background-color: rgb(213, 213, 213);
  border: 1px solid white;
}
